body{
    background-color: #e8ffff;
}
h3{
   color: #213e3b;
}h1{
   color: #213e3b;
}h2 {
   color: #213e3b;
}
hr{
    border-top:dotted;
    border-width: 7px;
    width: 50px;
    border-left: none;
    border-bottom:none;
    border-right: none;
    height: 0px;
    border-color: #a6f6f1;
}
p,table,ul,ol{
    color: #41aea9;
}